<h1>#<%= @recipe.id %>, <%= @recipe.name %> </h1>
<h3>Ingredients: <%= @recipe.ingredients %> </h3>
<h3>Cook Time: <%= @recipe.cook_time %></h3>
<h5>
  <a href=<%= "/recipes/#{@recipe.id}/edit" %>>Edit This Recipe</a>
  <br />
  <form method="post" action= <%="/recipes/#{@recipe.id}/delete" %>>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="delete" type="submit" value="Delete This Recipe">
  </form>
  <br />
  <a href=<%= "/recipes" %>>All Recipes</a>
</h5>
<!-- <a href=<%= "/recipes/#{@recipe.id}/delete" %>>Delete This Recipe</a> -->
